<div class="row justify-content-md-center">
  <div class="form-group">
    <h1 class="text-center">To-Do List</h1>
    <form class="form-inline" (ngSubmit)="onSubmit()">
      <div class="form-row align-items-center">
        <label class="sr-only" for="task-input">Task</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">+</div>
          </div>
          <input type="text" class="form-control" id="task-input" placeholder="Task" [formControl]="name">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-md-center">
  <a class="btn btn-clear" (click)="filterTodos('all')">All</a>
  <a class="btn btn-clear" (click)="filterTodos('uncompleted')">Uncompleted</a>
  <a class="btn btn-clear" (click)="filterTodos('completed')">Completed</a>
  <ul *ngIf="todos" class="list-group col-12">
    <li class="list-group-item" *ngFor="let item of todos">
      <input type="checkbox" (click)="edit(item)">
      <span [ngClass]="{'completed': item.completed}"> {{item.name }}</span>
    </li>
  </ul>
</div>
